# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
build/
dist/
eggs/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
media/

# VS Code
.vscode/

# macOS
.DS_Store

# ===== ML / AI Models =====
ai_models/*.h5
ai_models/archive/

# ===== OS / Editor =====
Thumbs.db
.idea/

